body{
            background-color: firebrick;
            margin: 0;
            font-family: cursive;
            text-align: center;
            color: white;
            font-weight: 500;
        }
        h1{
            text-align: center;
            color: white;
            text-decoration: none;
        }
        h2{
            color: white;
            text-align: center;
            text-decoration: none;
        }
div.scroll {
    overflow: auto;
    height: 220px;
    width: 420px;
    border: 1px solid black;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}